<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml" />

    {% include "meta.njk" %}

    <link rel="icon" href="/favicon.png" type="image/png" />

    {% block head %}{% endblock %}

    {% if env.IS_DEV %}
        <link rel="stylesheet" href="/assets/css/app.css" />
    {% else %}
        <style>{% include "../../../dist/assets/css/app.css" %}</style>
    {% endif %}

    <!--<script src="https://cdn.jsdelivr.net/npm/what-input@5.2.6/dist/what-input.min.js" defer></script>-->
    <script src="/assets/js/app.js" defer></script>
</head>
<body>
{% block content %}{% endblock content %}
<script>
    {% if not env.IS_DEV %}
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
    {% endif %}
</script>
</body>
</html>
