{% set pageTitle = title + ' - ' + config.name %}
{% set pageDesc = config.shortDesc %}
{% set siteTitle = config.name %}
{% set description = config.metaDesc %}
{% set currentUrl = config.url + page.url %}

{% if metaTitle %}
    {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
    {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}"/>

<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ currentUrl }}"/>
<meta property="twitter:url" content="{{ currentUrl }}"/>
<meta property="twitter:site" content="{{ siteTitle }}"/>

{% if config.authorHandle %}
    <meta name="twitter:creator" content="@{{ config.authorHandle | replace('@', '') }}"/>
{% endif %}

<meta name="description" content="{{ pageDesc }}"/>
<meta name="twitter:description" content="{{ pageDesc }}"/>
<meta property="og:description" content="{{ pageDesc }}"/>

{% if socialImage %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{{ socialImage }}"/>
    <meta name="twitter:image" content="{{ socialImage }}"/>
    <meta property="og:image:alt" content="Page image for {{ pageTitle }}"/>
    <meta name="twitter:image:alt" content="Page image for {{ pageTitle }}"/>
{% else %}
    <meta property="og:image" content="{{ config.url }}/cover.jpg"/>
    <meta name="twitter:image" content="{{ config.url }}/cover.jpg"/>
{% endif %}
