{% macro postItem(url, title, date) %}
    <li>
        <h3 style="--ne-vertical-leading: 1rem">
            <a href="{{ url }}" rel="bookmark">{{ title }}</a>
        </h3>
        <time datetime="{{ date | htmlDate }}">{{ date | dateFilter }}</time>
    </li>
{% endmacro %}
