---
layout: page
title: Blog
---
{% from "postItem.njk" import postItem %}

{% set postList = collections.posts %}
{% if collections.posts.length %}
    <section>
        <ol reversed>
            {% for item in postList | reverse %}
                {% if not loop.first %}
                    <hr/>
                {% endif %}
                {{ postItem(item.url, item.data.title, item.date) }}
            {% endfor %}
        </ol>
    </section>
{% endif %}
